*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ecd5dc;
    color: #000000;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #925167;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-style: ridge;
    width: 100%;
    z-index: 4;
    

}
header nav a{
    color: #e9d2d7;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 10px;
    transition: background-color 0.3s;
}
header nav a:hover{
    background-color: #d398a5;
    
}
header ul{
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    right: 10%;

}
.logo{ 
    width: 150px;
    height: 150px;
    margin-left: 20px;
    
}
.redes{
   position: relative;
   justify-content: center;
    height: 40px;
    margin: 3px;
    right: 280px;
    margin-top: 180px;


}
main{
   max-width: 1200px;
   margin: 140px 20%;
}

.modal{
   position: absolute;
   padding: 10px;
   width: 60%;
   top: 30%;
   height: 25%;
   background-color: #d398a5;
   color: #ecd5dc;
   z-index: 5;
}
 .sessao2{
    background-color: #d398a5;
    color: #ecd5dc;
    position: absolute;
    top: 60%;
    width: 60%;
    height: 25%;
    z-index: 5;
    padding: 10px;
 }

 .navbar-mobile{
    display: none;
 }

 .botao-flutuante{
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: rgb(139, 212, 157);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 2);
 }