*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ecd5dc;
    color: #000000;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #e4c9d5;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-style: ridge;
    width: 100%;
    z-index: 4;
    

}
header nav a{
    color: #e2365b;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 10px;
    transition: background-color 0.3s;
}
header nav a:hover{
    background-color: #d398a5;
    
}
header ul{
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    right: 10%;

}
.logo{ 
    width: 150px;
    height: 150px;
    margin-left: ;
    
}
.redes{
   position: relative;
   justify-content: center;
    height: 30px;
    margin: 10px;
    right: 500%;
    
    
   

}
main{
   max-width: 1200px;
   margin: 140px 20%;
}

.modal{
   position: center;
   padding: 10px;
   top: 20px;
   width: 60%;
   background-color: #d398a5;
   color: #ecd5dc;
   padding: 20px;
   z-index: 5;
}
 
