*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: fantasy;
    background-color: #ecd5dc;
    color: #000000;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #e4c9d5;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-style: ridge;
    width: 100%;
    z-index: 4;
    

}
header nav a{
    color: #e2365b;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
header nav a:hover{
    background-color: #d398a5;
}
header ul{
    position: absolute;
    list-style: none;
    display: flex;
    align-items: center;
    right: 20%;
}
.logo{ 
    width: 150px;
    height: 150px;

    
}
.redes{
    width: 40px;
    height: 40px;

}
main{
    height: 110vh;
    display: flex;
}

.modal{
    position: fixed;
    left: 50%;
    top: 20px;
    width: 60%;
    background-color: #d398a5;
    color: #ecd5dc;
    padding: 20px;
    z-index: 5;
}