:root{

    --cor-texto-primario: #ecd5dc;
    --cor-texto-secundario: #e23661;
    --cor-fundo-primaria: #ecd5dc;
    --cor-fundo-secundaria: #d398A5;
    --cabecario: #e4c9dc;
    --fonte-principal: Arial;
    --espacamento: 1rem;
    --tamanho-fonte: 16px;

}